mixin navbar(titre, displayName)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href="/index") #{titre}
      ul.navbar-nav.ml-auto
        li.nav-item
          li.span #{displayName}
        li.nav-item
          a.nav-link(href="/signout") Se déconnecter
