mixin navbar(displayName)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href="/index") Moodle
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      ul.navbar-nav.float-right
        li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" id="navbarDropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{displayName}
            div.dropdown-menu(aria-labelledby="navbarDropdownAccount" role="menu")
              a.dropdown-item(href='/signout') Se déconnecter